.List {
  color: rgb(0, 0, 0);
	width: 100%;
	font-size: .8em;
}

.Form {
  float: left;
  text-align: left;
  padding: 15px;
  width: 60%;
  height: 100%;
  color: rgb(75, 67, 67);
  font-family: 'Open Sans', sans-serif;
}

th {
	background-color: gray;
	color: white;
	font-size: 12pt;
}

tr {
	line-height: 20px;
}

tr:nth-last-of-type(even)	 {
	background-color: aliceblue;
}

tr:nth-last-of-type(odd)	 {
	background-color: rgb(220, 224, 229);
}

.rowButton {
	width: 20px;
}

.contactHover:hover {
	font-style: italic;
	font-weight: 900;
}

.Danger:hover {
  background-color: rgb(238, 84, 84);
}

.Edit:hover {
  background-color: rgb(250, 233, 77);
}

.Success:hover {
  background-color: rgb(92, 243, 150);
}

.false {
  color: rgb(238, 84, 84);
}

.true {
  color: rgb(21, 199, 89);
}